*/*
!.oh_my_bash/**
!.bash_profile
!.tmux.conf
!.emacs.d/*
Development/
Downloads/
Dropbox/
Library/
Music/
Pictures/
node_modules/
.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.bash_profile.pysave
.bashrc
.emscripten
.emscripten_sanity
.git.scmbrc
.gitconfig
.gitignore~
.hyper.js
.hyper.js~
.ido.last
.ido.last~
.irb-history
.lesshst
.mkshrc
.multirust
.netrc
.newsrc-dribble
.node_repl_history
.profile
.python_history
.scmbrc
.viminfo
.wget-hsts
.zlogin
.zprofile
.zshrc
.oh_my_bash/bin/gitstats
.Xauthority*
.serverauth*
gits
.lumo_history
.planck_history
.emacs.d/.cache/
.emacs.d/eshell/
.emacs.d/ac-comphist.dat
.java_history
.jhbuildrc
.jhbuildrc-cfw-10.4
.jhbuildrc-cfw-10.4u
.jhbuildrc-custom
.jhbuildrc-fw-10.4
.jhbuildrc-fw-10.4-test
.keyboard/
.lein_history
.oh_my_bash/bin/antlr.jar
.oh_my_bash/bin/joinPDF.py
.oh_my_bash/bin/lein
.psql_history
.rebel_readline_history
.scmbag
.hxcpp_config.xml
.emacs.d/packages/*.emacs.d/thumbs/
.emacs.d/thumbs/*
.emacs.d/packages/*
.bigloo_history
.cask/
.ccl-init.lisp
.ccl_history
.chezscheme_history
.clojerl_history
.clojure_history
.clojure_history-13947.tmp
.clojure_history-72909.tmp
.csi_history
.csi_history-44779.tmp
.emacs.d/assets/clojure_logo.png
.emacs.d/customizations/keymap-commons.el
.emacs.d/recentf
.emacs.d/tutorial/English.tut
.gambit_history
.gemrc
.haxelib
