*/*
!.oh_my_bash/**
!.bash_profile
!.tmux.conf
!.emacs.d/*
Development/
Downloads/
Dropbox/
Library/
Music/
Pictures/
node_modules/
.CFUserTextEncoding
.DS_Store
.Xauthority
.bash_history
.bash_profile.pysave
.bashrc
.emscripten
.emscripten_sanity
.git.scmbrc
.gitconfig
.gitignore~
.hyper.js
.hyper.js~
.ido.last
.ido.last~
.irb-history
.lesshst
.mkshrc
.multirust
.netrc
.newsrc-dribble
.node_repl_history
.profile
.python_history
.scmbrc
.viminfo
.wget-hsts
.zlogin
.zprofile
.zshrc
.oh_my_bash/bin/gitstats
.Xauthority*
.serverauth*
gits
.lumo_history
.planck_history
.emacs.d/.cache/
.emacs.d/eshell/
.emacs.d/ac-comphist.dat
.java_history
.jhbuildrc
.jhbuildrc-cfw-10.4
.jhbuildrc-cfw-10.4u
.jhbuildrc-custom
.jhbuildrc-fw-10.4
.jhbuildrc-fw-10.4-test
.keyboard/
.lein_history
.oh_my_bash/bin/antlr.jar
.oh_my_bash/bin/joinPDF.py
.oh_my_bash/bin/lein
.psql_history
.rebel_readline_history
.scmbag
.hxcpp_config.xml
.emacs.d/packages/ace-jump-mode-20140616.115/ace-jump-mode-autoloads.el
.emacs.d/packages/ace-jump-mode-20140616.115/ace-jump-mode-pkg.el
.emacs.d/packages/ace-jump-mode-20140616.115/ace-jump-mode.el
.emacs.d/packages/ace-jump-mode-20140616.115/ace-jump-mode.elc
.emacs.d/packages/ace-window-20180607.1223/ace-window-autoloads.el
.emacs.d/packages/ace-window-20180607.1223/ace-window-pkg.el
.emacs.d/packages/ace-window-20180607.1223/ace-window.el
.emacs.d/packages/ace-window-20180607.1223/ace-window.elc
.emacs.d/packages/archives/gnu/archive-contents
.emacs.d/packages/archives/marmalade/archive-contents
.emacs.d/packages/archives/melpa/archive-contents
.emacs.d/packages/archives/org/archive-contents
.emacs.d/packages/async-20180527.1030/async-autoloads.el
.emacs.d/packages/async-20180527.1030/async-bytecomp.el
.emacs.d/packages/async-20180527.1030/async-bytecomp.elc
.emacs.d/packages/async-20180527.1030/async-pkg.el
.emacs.d/packages/async-20180527.1030/async.el
.emacs.d/packages/async-20180527.1030/async.elc
.emacs.d/packages/async-20180527.1030/dired-async.el
.emacs.d/packages/async-20180527.1030/dired-async.elc
.emacs.d/packages/async-20180527.1030/smtpmail-async.el
.emacs.d/packages/async-20180527.1030/smtpmail-async.elc
.emacs.d/packages/avy-20180615.801/avy-autoloads.el
.emacs.d/packages/avy-20180615.801/avy-pkg.el
.emacs.d/packages/avy-20180615.801/avy.el
.emacs.d/packages/avy-20180615.801/avy.elc
.emacs.d/packages/bind-key-20180512.2130/bind-key-autoloads.el
.emacs.d/packages/bind-key-20180512.2130/bind-key-pkg.el
.emacs.d/packages/bind-key-20180512.2130/bind-key.el
.emacs.d/packages/bind-key-20180512.2130/bind-key.elc
.emacs.d/packages/cider-20180611.2335/cider-apropos.el
.emacs.d/packages/cider-20180611.2335/cider-apropos.elc
.emacs.d/packages/cider-20180611.2335/cider-autoloads.el
.emacs.d/packages/cider-20180611.2335/cider-browse-ns.el
.emacs.d/packages/cider-20180611.2335/cider-browse-ns.elc
.emacs.d/packages/cider-20180611.2335/cider-browse-spec.el
.emacs.d/packages/cider-20180611.2335/cider-browse-spec.elc
.emacs.d/packages/cider-20180611.2335/cider-cheatsheet.el
.emacs.d/packages/cider-20180611.2335/cider-cheatsheet.elc
.emacs.d/packages/cider-20180611.2335/cider-classpath.el
.emacs.d/packages/cider-20180611.2335/cider-classpath.elc
.emacs.d/packages/cider-20180611.2335/cider-client.el
.emacs.d/packages/cider-20180611.2335/cider-client.elc
.emacs.d/packages/cider-20180611.2335/cider-common.el
.emacs.d/packages/cider-20180611.2335/cider-common.elc
.emacs.d/packages/cider-20180611.2335/cider-compat.el
.emacs.d/packages/cider-20180611.2335/cider-compat.elc
.emacs.d/packages/cider-20180611.2335/cider-debug.el
.emacs.d/packages/cider-20180611.2335/cider-debug.elc
.emacs.d/packages/cider-20180611.2335/cider-doc.el
.emacs.d/packages/cider-20180611.2335/cider-doc.elc
.emacs.d/packages/cider-20180611.2335/cider-eldoc.el
.emacs.d/packages/cider-20180611.2335/cider-eldoc.elc
.emacs.d/packages/cider-20180611.2335/cider-grimoire.el
.emacs.d/packages/cider-20180611.2335/cider-grimoire.elc
.emacs.d/packages/cider-20180611.2335/cider-inspector.el
.emacs.d/packages/cider-20180611.2335/cider-inspector.elc
.emacs.d/packages/cider-20180611.2335/cider-interaction.el
.emacs.d/packages/cider-20180611.2335/cider-interaction.elc
.emacs.d/packages/cider-20180611.2335/cider-macroexpansion.el
.emacs.d/packages/cider-20180611.2335/cider-macroexpansion.elc
.emacs.d/packages/cider-20180611.2335/cider-mode.el
.emacs.d/packages/cider-20180611.2335/cider-mode.elc
.emacs.d/packages/cider-20180611.2335/cider-overlays.el
.emacs.d/packages/cider-20180611.2335/cider-overlays.elc
.emacs.d/packages/cider-20180611.2335/cider-pkg.el
.emacs.d/packages/cider-20180611.2335/cider-popup.el
.emacs.d/packages/cider-20180611.2335/cider-popup.elc
.emacs.d/packages/cider-20180611.2335/cider-profile.el
.emacs.d/packages/cider-20180611.2335/cider-profile.elc
.emacs.d/packages/cider-20180611.2335/cider-repl-history.el
.emacs.d/packages/cider-20180611.2335/cider-repl-history.elc
.emacs.d/packages/cider-20180611.2335/cider-repl.el
.emacs.d/packages/cider-20180611.2335/cider-repl.elc
.emacs.d/packages/cider-20180611.2335/cider-resolve.el
.emacs.d/packages/cider-20180611.2335/cider-resolve.elc
.emacs.d/packages/cider-20180611.2335/cider-scratch.el
.emacs.d/packages/cider-20180611.2335/cider-scratch.elc
.emacs.d/packages/cider-20180611.2335/cider-selector.el
.emacs.d/packages/cider-20180611.2335/cider-selector.elc
.emacs.d/packages/cider-20180611.2335/cider-stacktrace.el
.emacs.d/packages/cider-20180611.2335/cider-stacktrace.elc
.emacs.d/packages/cider-20180611.2335/cider-test.el
.emacs.d/packages/cider-20180611.2335/cider-test.elc
.emacs.d/packages/cider-20180611.2335/cider-util.el
.emacs.d/packages/cider-20180611.2335/cider-util.elc
.emacs.d/packages/cider-20180611.2335/cider.el
.emacs.d/packages/cider-20180611.2335/cider.elc
.emacs.d/packages/cider-20180611.2335/nrepl-client.el
.emacs.d/packages/cider-20180611.2335/nrepl-client.elc
.emacs.d/packages/cider-20180611.2335/nrepl-dict.el
.emacs.d/packages/cider-20180611.2335/nrepl-dict.elc
.emacs.d/packages/clojure-mode-20180608.507/clojure-mode-autoloads.el
.emacs.d/packages/clojure-mode-20180608.507/clojure-mode-pkg.el
.emacs.d/packages/clojure-mode-20180608.507/clojure-mode.el
.emacs.d/packages/clojure-mode-20180608.507/clojure-mode.elc
.emacs.d/packages/company-20180615.1508/company-abbrev.el
.emacs.d/packages/company-20180615.1508/company-abbrev.elc
.emacs.d/packages/company-20180615.1508/company-autoloads.el
.emacs.d/packages/company-20180615.1508/company-bbdb.el
.emacs.d/packages/company-20180615.1508/company-bbdb.elc
.emacs.d/packages/company-20180615.1508/company-capf.el
.emacs.d/packages/company-20180615.1508/company-capf.elc
.emacs.d/packages/company-20180615.1508/company-clang.el
.emacs.d/packages/company-20180615.1508/company-clang.elc
.emacs.d/packages/company-20180615.1508/company-cmake.el
.emacs.d/packages/company-20180615.1508/company-cmake.elc
.emacs.d/packages/company-20180615.1508/company-css.el
.emacs.d/packages/company-20180615.1508/company-css.elc
.emacs.d/packages/company-20180615.1508/company-dabbrev-code.el
.emacs.d/packages/company-20180615.1508/company-dabbrev-code.elc
.emacs.d/packages/company-20180615.1508/company-dabbrev.el
.emacs.d/packages/company-20180615.1508/company-dabbrev.elc
.emacs.d/packages/company-20180615.1508/company-eclim.el
.emacs.d/packages/company-20180615.1508/company-eclim.elc
.emacs.d/packages/company-20180615.1508/company-elisp.el
.emacs.d/packages/company-20180615.1508/company-elisp.elc
.emacs.d/packages/company-20180615.1508/company-etags.el
.emacs.d/packages/company-20180615.1508/company-etags.elc
.emacs.d/packages/company-20180615.1508/company-files.el
.emacs.d/packages/company-20180615.1508/company-files.elc
.emacs.d/packages/company-20180615.1508/company-gtags.el
.emacs.d/packages/company-20180615.1508/company-gtags.elc
.emacs.d/packages/company-20180615.1508/company-ispell.el
.emacs.d/packages/company-20180615.1508/company-ispell.elc
.emacs.d/packages/company-20180615.1508/company-keywords.el
.emacs.d/packages/company-20180615.1508/company-keywords.elc
.emacs.d/packages/company-20180615.1508/company-nxml.el
.emacs.d/packages/company-20180615.1508/company-nxml.elc
.emacs.d/packages/company-20180615.1508/company-oddmuse.el
.emacs.d/packages/company-20180615.1508/company-oddmuse.elc
.emacs.d/packages/company-20180615.1508/company-pkg.el
.emacs.d/packages/company-20180615.1508/company-semantic.el
.emacs.d/packages/company-20180615.1508/company-semantic.elc
.emacs.d/packages/company-20180615.1508/company-template.el
.emacs.d/packages/company-20180615.1508/company-template.elc
.emacs.d/packages/company-20180615.1508/company-tempo.el
.emacs.d/packages/company-20180615.1508/company-tempo.elc
.emacs.d/packages/company-20180615.1508/company-tng.el
.emacs.d/packages/company-20180615.1508/company-tng.elc
.emacs.d/packages/company-20180615.1508/company-xcode.el
.emacs.d/packages/company-20180615.1508/company-xcode.elc
.emacs.d/packages/company-20180615.1508/company-yasnippet.el
.emacs.d/packages/company-20180615.1508/company-yasnippet.elc
.emacs.d/packages/company-20180615.1508/company.el
.emacs.d/packages/company-20180615.1508/company.elc
.emacs.d/packages/darkokai-theme-20180513.1857/darkokai-theme-autoloads.el
.emacs.d/packages/darkokai-theme-20180513.1857/darkokai-theme-pkg.el
.emacs.d/packages/darkokai-theme-20180513.1857/darkokai-theme.el
.emacs.d/packages/dash-20180413.30/dash-autoloads.el
.emacs.d/packages/dash-20180413.30/dash-pkg.el
.emacs.d/packages/dash-20180413.30/dash.el
.emacs.d/packages/dash-20180413.30/dash.elc
.emacs.d/packages/dash-functional-20180107.818/dash-functional-autoloads.el
.emacs.d/packages/dash-functional-20180107.818/dash-functional-pkg.el
.emacs.d/packages/dash-functional-20180107.818/dash-functional.el
.emacs.d/packages/dash-functional-20180107.818/dash-functional.elc
.emacs.d/packages/dashboard-20180328.807/banners/1.txt
.emacs.d/packages/dashboard-20180328.807/banners/2.txt
.emacs.d/packages/dashboard-20180328.807/banners/3.txt
.emacs.d/packages/dashboard-20180328.807/banners/emacs.png
.emacs.d/packages/dashboard-20180328.807/banners/logo.png
.emacs.d/packages/dashboard-20180328.807/dashboard-autoloads.el
.emacs.d/packages/dashboard-20180328.807/dashboard-pkg.el
.emacs.d/packages/dashboard-20180328.807/dashboard-widgets.el
.emacs.d/packages/dashboard-20180328.807/dashboard-widgets.elc
.emacs.d/packages/dashboard-20180328.807/dashboard.el
.emacs.d/packages/dashboard-20180328.807/dashboard.elc
.emacs.d/packages/deferred-20170901.630/deferred-autoloads.el
.emacs.d/packages/deferred-20170901.630/deferred-pkg.el
.emacs.d/packages/deferred-20170901.630/deferred.el
.emacs.d/packages/deferred-20170901.630/deferred.elc
.emacs.d/packages/edn-20160215.419/edn-autoloads.el
.emacs.d/packages/edn-20160215.419/edn-pkg.el
.emacs.d/packages/edn-20160215.419/edn.el
.emacs.d/packages/edn-20160215.419/edn.elc
.emacs.d/packages/epl-20180205.1249/epl-autoloads.el
.emacs.d/packages/epl-20180205.1249/epl-pkg.el
.emacs.d/packages/epl-20180205.1249/epl.el
.emacs.d/packages/epl-20180205.1249/epl.elc
.emacs.d/packages/evil-20180517.1300/dir
.emacs.d/packages/evil-20180517.1300/evil-autoloads.el
.emacs.d/packages/evil-20180517.1300/evil-command-window.el
.emacs.d/packages/evil-20180517.1300/evil-command-window.elc
.emacs.d/packages/evil-20180517.1300/evil-commands.el
.emacs.d/packages/evil-20180517.1300/evil-commands.elc
.emacs.d/packages/evil-20180517.1300/evil-common.el
.emacs.d/packages/evil-20180517.1300/evil-common.elc
.emacs.d/packages/evil-20180517.1300/evil-core.el
.emacs.d/packages/evil-20180517.1300/evil-core.elc
.emacs.d/packages/evil-20180517.1300/evil-development.el
.emacs.d/packages/evil-20180517.1300/evil-development.elc
.emacs.d/packages/evil-20180517.1300/evil-digraphs.el
.emacs.d/packages/evil-20180517.1300/evil-digraphs.elc
.emacs.d/packages/evil-20180517.1300/evil-ex.el
.emacs.d/packages/evil-20180517.1300/evil-ex.elc
.emacs.d/packages/evil-20180517.1300/evil-integration.el
.emacs.d/packages/evil-20180517.1300/evil-integration.elc
.emacs.d/packages/evil-20180517.1300/evil-jumps.el
.emacs.d/packages/evil-20180517.1300/evil-jumps.elc
.emacs.d/packages/evil-20180517.1300/evil-macros.el
.emacs.d/packages/evil-20180517.1300/evil-macros.elc
.emacs.d/packages/evil-20180517.1300/evil-maps.el
.emacs.d/packages/evil-20180517.1300/evil-maps.elc
.emacs.d/packages/evil-20180517.1300/evil-pkg.el
.emacs.d/packages/evil-20180517.1300/evil-repeat.el
.emacs.d/packages/evil-20180517.1300/evil-repeat.elc
.emacs.d/packages/evil-20180517.1300/evil-search.el
.emacs.d/packages/evil-20180517.1300/evil-search.elc
.emacs.d/packages/evil-20180517.1300/evil-states.el
.emacs.d/packages/evil-20180517.1300/evil-states.elc
.emacs.d/packages/evil-20180517.1300/evil-types.el
.emacs.d/packages/evil-20180517.1300/evil-types.elc
.emacs.d/packages/evil-20180517.1300/evil-vars.el
.emacs.d/packages/evil-20180517.1300/evil-vars.elc
.emacs.d/packages/evil-20180517.1300/evil.el
.emacs.d/packages/evil-20180517.1300/evil.elc
.emacs.d/packages/evil-20180517.1300/evil.info
.emacs.d/packages/evil-20180517.1300/fdl-1.3.info
.emacs.d/packages/evil-20180517.1300/macros.info
.emacs.d/packages/evil-20180517.1300/version.info
.emacs.d/packages/exec-path-from-shell-20180323.1904/exec-path-from-shell-autoloads.el
.emacs.d/packages/exec-path-from-shell-20180323.1904/exec-path-from-shell-pkg.el
.emacs.d/packages/exec-path-from-shell-20180323.1904/exec-path-from-shell.el
.emacs.d/packages/exec-path-from-shell-20180323.1904/exec-path-from-shell.elc
.emacs.d/packages/fill-column-indicator-20171209.1124/fill-column-indicator-autoloads.el
.emacs.d/packages/fill-column-indicator-20171209.1124/fill-column-indicator-pkg.el
.emacs.d/packages/fill-column-indicator-20171209.1124/fill-column-indicator.el
.emacs.d/packages/fill-column-indicator-20171209.1124/fill-column-indicator.elc
.emacs.d/packages/goto-chg-20180105.1033/goto-chg-autoloads.el
.emacs.d/packages/goto-chg-20180105.1033/goto-chg-pkg.el
.emacs.d/packages/goto-chg-20180105.1033/goto-chg.el
.emacs.d/packages/goto-chg-20180105.1033/goto-chg.elc
.emacs.d/packages/helm-20180616.208/emacs-helm.sh
.emacs.d/packages/helm-20180616.208/helm-adaptive.el
.emacs.d/packages/helm-20180616.208/helm-adaptive.elc
.emacs.d/packages/helm-20180616.208/helm-autoloads.el
.emacs.d/packages/helm-20180616.208/helm-bookmark.el
.emacs.d/packages/helm-20180616.208/helm-bookmark.elc
.emacs.d/packages/helm-20180616.208/helm-buffers.el
.emacs.d/packages/helm-20180616.208/helm-buffers.elc
.emacs.d/packages/helm-20180616.208/helm-color.el
.emacs.d/packages/helm-20180616.208/helm-color.elc
.emacs.d/packages/helm-20180616.208/helm-command.el
.emacs.d/packages/helm-20180616.208/helm-command.elc
.emacs.d/packages/helm-20180616.208/helm-config.el
.emacs.d/packages/helm-20180616.208/helm-config.elc
.emacs.d/packages/helm-20180616.208/helm-dabbrev.el
.emacs.d/packages/helm-20180616.208/helm-dabbrev.elc
.emacs.d/packages/helm-20180616.208/helm-easymenu.el
.emacs.d/packages/helm-20180616.208/helm-easymenu.elc
.emacs.d/packages/helm-20180616.208/helm-elisp-package.el
.emacs.d/packages/helm-20180616.208/helm-elisp-package.elc
.emacs.d/packages/helm-20180616.208/helm-elisp.el
.emacs.d/packages/helm-20180616.208/helm-elisp.elc
.emacs.d/packages/helm-20180616.208/helm-eshell.el
.emacs.d/packages/helm-20180616.208/helm-eshell.elc
.emacs.d/packages/helm-20180616.208/helm-eval.el
.emacs.d/packages/helm-20180616.208/helm-eval.elc
.emacs.d/packages/helm-20180616.208/helm-external.el
.emacs.d/packages/helm-20180616.208/helm-external.elc
.emacs.d/packages/helm-20180616.208/helm-files.el
.emacs.d/packages/helm-20180616.208/helm-files.elc
.emacs.d/packages/helm-20180616.208/helm-find.el
.emacs.d/packages/helm-20180616.208/helm-find.elc
.emacs.d/packages/helm-20180616.208/helm-font.el
.emacs.d/packages/helm-20180616.208/helm-font.elc
.emacs.d/packages/helm-20180616.208/helm-for-files.el
.emacs.d/packages/helm-20180616.208/helm-for-files.elc
.emacs.d/packages/helm-20180616.208/helm-grep.el
.emacs.d/packages/helm-20180616.208/helm-grep.elc
.emacs.d/packages/helm-20180616.208/helm-help.el
.emacs.d/packages/helm-20180616.208/helm-help.elc
.emacs.d/packages/helm-20180616.208/helm-id-utils.el
.emacs.d/packages/helm-20180616.208/helm-id-utils.elc
.emacs.d/packages/helm-20180616.208/helm-imenu.el
.emacs.d/packages/helm-20180616.208/helm-imenu.elc
.emacs.d/packages/helm-20180616.208/helm-info.el
.emacs.d/packages/helm-20180616.208/helm-info.elc
.emacs.d/packages/helm-20180616.208/helm-locate.el
.emacs.d/packages/helm-20180616.208/helm-locate.elc
.emacs.d/packages/helm-20180616.208/helm-man.el
.emacs.d/packages/helm-20180616.208/helm-man.elc
.emacs.d/packages/helm-20180616.208/helm-misc.el
.emacs.d/packages/helm-20180616.208/helm-misc.elc
.emacs.d/packages/helm-20180616.208/helm-mode.el
.emacs.d/packages/helm-20180616.208/helm-mode.elc
.emacs.d/packages/helm-20180616.208/helm-net.el
.emacs.d/packages/helm-20180616.208/helm-net.elc
.emacs.d/packages/helm-20180616.208/helm-org.el
.emacs.d/packages/helm-20180616.208/helm-org.elc
.emacs.d/packages/helm-20180616.208/helm-pkg.el
.emacs.d/packages/helm-20180616.208/helm-regexp.el
.emacs.d/packages/helm-20180616.208/helm-regexp.elc
.emacs.d/packages/helm-20180616.208/helm-ring.el
.emacs.d/packages/helm-20180616.208/helm-ring.elc
.emacs.d/packages/helm-20180616.208/helm-semantic.el
.emacs.d/packages/helm-20180616.208/helm-semantic.elc
.emacs.d/packages/helm-20180616.208/helm-sys.el
.emacs.d/packages/helm-20180616.208/helm-sys.elc
.emacs.d/packages/helm-20180616.208/helm-tags.el
.emacs.d/packages/helm-20180616.208/helm-tags.elc
.emacs.d/packages/helm-20180616.208/helm-types.el
.emacs.d/packages/helm-20180616.208/helm-types.elc
.emacs.d/packages/helm-20180616.208/helm-utils.el
.emacs.d/packages/helm-20180616.208/helm-utils.elc
.emacs.d/packages/helm-20180616.208/helm-x-files.el
.emacs.d/packages/helm-20180616.208/helm-x-files.elc
.emacs.d/packages/helm-core-20180616.208/helm-core-autoloads.el
.emacs.d/packages/helm-core-20180616.208/helm-core-pkg.el
.emacs.d/packages/helm-core-20180616.208/helm-lib.el
.emacs.d/packages/helm-core-20180616.208/helm-lib.elc
.emacs.d/packages/helm-core-20180616.208/helm-multi-match.el
.emacs.d/packages/helm-core-20180616.208/helm-multi-match.elc
.emacs.d/packages/helm-core-20180616.208/helm-source.el
.emacs.d/packages/helm-core-20180616.208/helm-source.elc
.emacs.d/packages/helm-core-20180616.208/helm.el
.emacs.d/packages/helm-core-20180616.208/helm.elc
.emacs.d/packages/htmlize-20180412.1244/htmlize-autoloads.el
.emacs.d/packages/htmlize-20180412.1244/htmlize-pkg.el
.emacs.d/packages/htmlize-20180412.1244/htmlize.el
.emacs.d/packages/htmlize-20180412.1244/htmlize.elc
.emacs.d/packages/ido-ubiquitous-2.10/ido-ubiquitous-autoloads.el
.emacs.d/packages/ido-ubiquitous-2.10/ido-ubiquitous-pkg.el
.emacs.d/packages/ido-ubiquitous-2.10/ido-ubiquitous.el
.emacs.d/packages/ido-ubiquitous-2.10/ido-ubiquitous.elc
.emacs.d/packages/json-mode-20170719.2205/json-mode-autoloads.el
.emacs.d/packages/json-mode-20170719.2205/json-mode-pkg.el
.emacs.d/packages/json-mode-20170719.2205/json-mode.el
.emacs.d/packages/json-mode-20170719.2205/json-mode.elc
.emacs.d/packages/json-reformat-20160212.53/json-reformat-autoloads.el
.emacs.d/packages/json-reformat-20160212.53/json-reformat-pkg.el
.emacs.d/packages/json-reformat-20160212.53/json-reformat.el
.emacs.d/packages/json-reformat-20160212.53/json-reformat.elc
.emacs.d/packages/json-snatcher-20150511.2047/json-snatcher-autoloads.el
.emacs.d/packages/json-snatcher-20150511.2047/json-snatcher-pkg.el
.emacs.d/packages/json-snatcher-20150511.2047/json-snatcher.el
.emacs.d/packages/json-snatcher-20150511.2047/json-snatcher.elc
.emacs.d/packages/kv-20140108.734/kv-autoloads.el
.emacs.d/packages/kv-20140108.734/kv-pkg.el
.emacs.d/packages/kv-20140108.734/kv.el
.emacs.d/packages/kv-20140108.734/kv.elc
.emacs.d/packages/markdown-preview-eww-20160111.702/markdown-preview-eww-autoloads.el
.emacs.d/packages/markdown-preview-eww-20160111.702/markdown-preview-eww-pkg.el
.emacs.d/packages/markdown-preview-eww-20160111.702/markdown-preview-eww.el
.emacs.d/packages/markdown-preview-eww-20160111.702/markdown-preview-eww.elc
.emacs.d/packages/nlinum-1.8.1/nlinum-autoloads.el
.emacs.d/packages/nlinum-1.8.1/nlinum-pkg.el
.emacs.d/packages/nlinum-1.8.1/nlinum.el
.emacs.d/packages/nlinum-1.8.1/nlinum.elc
.emacs.d/packages/nyan-mode-20170423.40/img/nyan-frame-1.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/nyan-frame-2.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/nyan-frame-3.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/nyan-frame-4.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/nyan-frame-5.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/nyan-frame-6.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/nyan.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/outerspace.xpm
.emacs.d/packages/nyan-mode-20170423.40/img/rainbow.xpm
.emacs.d/packages/nyan-mode-20170423.40/mus/nyanlooped.mp3
.emacs.d/packages/nyan-mode-20170423.40/nyan-mode-autoloads.el
.emacs.d/packages/nyan-mode-20170423.40/nyan-mode-pkg.el
.emacs.d/packages/nyan-mode-20170423.40/nyan-mode.el
.emacs.d/packages/nyan-mode-20170423.40/nyan-mode.elc
.emacs.d/packages/org-bullets-20171127.526/org-bullets-autoloads.el
.emacs.d/packages/org-bullets-20171127.526/org-bullets-pkg.el
.emacs.d/packages/org-bullets-20171127.526/org-bullets.el
.emacs.d/packages/org-bullets-20171127.526/org-bullets.elc
.emacs.d/packages/org2jekyll-20170225.115/org2jekyll-autoloads.el
.emacs.d/packages/org2jekyll-20170225.115/org2jekyll-pkg.el
.emacs.d/packages/org2jekyll-20170225.115/org2jekyll-utilities.el
.emacs.d/packages/org2jekyll-20170225.115/org2jekyll-utilities.elc
.emacs.d/packages/org2jekyll-20170225.115/org2jekyll.el
.emacs.d/packages/org2jekyll-20170225.115/org2jekyll.elc
.emacs.d/packages/page-break-lines-20171210.31/page-break-lines-autoloads.el
.emacs.d/packages/page-break-lines-20171210.31/page-break-lines-pkg.el
.emacs.d/packages/page-break-lines-20171210.31/page-break-lines.el
.emacs.d/packages/page-break-lines-20171210.31/page-break-lines.elc
.emacs.d/packages/paredit-20171126.1805/paredit-autoloads.el
.emacs.d/packages/paredit-20171126.1805/paredit-pkg.el
.emacs.d/packages/paredit-20171126.1805/paredit.el
.emacs.d/packages/paredit-20171126.1805/paredit.elc
.emacs.d/packages/peg-20150707.2341/peg-autoloads.el
.emacs.d/packages/peg-20150707.2341/peg-pkg.el
.emacs.d/packages/peg-20150707.2341/peg.el
.emacs.d/packages/peg-20150707.2341/peg.elc
.emacs.d/packages/pkg-info-20150517.443/pkg-info-autoloads.el
.emacs.d/packages/pkg-info-20150517.443/pkg-info-pkg.el
.emacs.d/packages/pkg-info-20150517.443/pkg-info.el
.emacs.d/packages/pkg-info-20150517.443/pkg-info.elc
.emacs.d/packages/popup-20160709.729/popup-autoloads.el
.emacs.d/packages/popup-20160709.729/popup-pkg.el
.emacs.d/packages/popup-20160709.729/popup.el
.emacs.d/packages/popup-20160709.729/popup.elc
.emacs.d/packages/pretty-lambdada-22.0/pretty-lambdada-autoloads.el
.emacs.d/packages/pretty-lambdada-22.0/pretty-lambdada-pkg.el
.emacs.d/packages/pretty-lambdada-22.0/pretty-lambdada.el
.emacs.d/packages/pretty-lambdada-22.0/pretty-lambdada.elc
.emacs.d/packages/projectile-20180616.252/projectile-autoloads.el
.emacs.d/packages/projectile-20180616.252/projectile-pkg.el
.emacs.d/packages/projectile-20180616.252/projectile.el
.emacs.d/packages/projectile-20180616.252/projectile.elc
.emacs.d/packages/queue-0.2/queue-autoloads.el
.emacs.d/packages/queue-0.2/queue-pkg.el
.emacs.d/packages/queue-0.2/queue.el
.emacs.d/packages/queue-0.2/queue.elc
.emacs.d/packages/rainbow-delimiters-20170929.432/rainbow-delimiters-autoloads.el
.emacs.d/packages/rainbow-delimiters-20170929.432/rainbow-delimiters-pkg.el
.emacs.d/packages/rainbow-delimiters-20170929.432/rainbow-delimiters.el
.emacs.d/packages/rainbow-delimiters-20170929.432/rainbow-delimiters.elc
.emacs.d/packages/ranger-20170817.857/ranger-autoloads.el
.emacs.d/packages/ranger-20170817.857/ranger-pkg.el
.emacs.d/packages/ranger-20170817.857/ranger.el
.emacs.d/packages/ranger-20170817.857/ranger.elc
.emacs.d/packages/s-20180406.108/s-autoloads.el
.emacs.d/packages/s-20180406.108/s-pkg.el
.emacs.d/packages/s-20180406.108/s.el
.emacs.d/packages/s-20180406.108/s.elc
.emacs.d/packages/spinner-1.7.3/spinner-autoloads.el
.emacs.d/packages/spinner-1.7.3/spinner-pkg.el
.emacs.d/packages/spinner-1.7.3/spinner.el
.emacs.d/packages/spinner-1.7.3/spinner.elc
.emacs.d/packages/undo-tree-0.6.5/undo-tree-autoloads.el
.emacs.d/packages/undo-tree-0.6.5/undo-tree-pkg.el
.emacs.d/packages/undo-tree-0.6.5/undo-tree.el
.emacs.d/packages/undo-tree-0.6.5/undo-tree.elc
.emacs.d/packages/use-package-20180613.2219/dir
.emacs.d/packages/use-package-20180613.2219/use-package-autoloads.el
.emacs.d/packages/use-package-20180613.2219/use-package-bind-key.el
.emacs.d/packages/use-package-20180613.2219/use-package-bind-key.elc
.emacs.d/packages/use-package-20180613.2219/use-package-core.el
.emacs.d/packages/use-package-20180613.2219/use-package-core.elc
.emacs.d/packages/use-package-20180613.2219/use-package-delight.el
.emacs.d/packages/use-package-20180613.2219/use-package-delight.elc
.emacs.d/packages/use-package-20180613.2219/use-package-diminish.el
.emacs.d/packages/use-package-20180613.2219/use-package-diminish.elc
.emacs.d/packages/use-package-20180613.2219/use-package-ensure.el
.emacs.d/packages/use-package-20180613.2219/use-package-ensure.elc
.emacs.d/packages/use-package-20180613.2219/use-package-jump.el
.emacs.d/packages/use-package-20180613.2219/use-package-jump.elc
.emacs.d/packages/use-package-20180613.2219/use-package-lint.el
.emacs.d/packages/use-package-20180613.2219/use-package-lint.elc
.emacs.d/packages/use-package-20180613.2219/use-package-pkg.el
.emacs.d/packages/use-package-20180613.2219/use-package.el
.emacs.d/packages/use-package-20180613.2219/use-package.elc
.emacs.d/packages/use-package-20180613.2219/use-package.info
.emacs.d/recentf
.emacs.d/recentf~
.emacs.d/thumbs/117f9bdbf06e122a-UserspankajdohareyDownloadsDTE3bp9VAAA4bKG.jpg_large.jpeg.jpg
.emacs.d/thumbs/15760948f9420963-UserspankajdohareyDownloadsDMfcCscV4AABHEJ.jpg_large.jpeg.jpg
.emacs.d/thumbs/197e977593a276ee-UserspankajdohareyDownloadsDUH9h2aVQAEyj7-.jpg_large.jpeg.jpg
.emacs.d/thumbs/217474df2c5e2934-UserspankajdohareyDownloadsDKYz2orW0AAmees.jpg_large.jpeg.jpg
.emacs.d/thumbs/2175762d9c0eeb98-UserspankajdohareyDownloadsDKLzfUnW4AMjInC.jpg_large.jpeg.jpg
.emacs.d/thumbs/22a2e8a5438557e7-UserspankajdohareyDownloadsDScC9VFVQAATI8j.jpg.jpg
.emacs.d/thumbs/23d2735ed7309329-UserspankajdohareyDownloadsCheckThisQueerSardar.jpg.jpg
.emacs.d/thumbs/25731066ceaa196f-UserspankajdohareyDownloadsDKH7n6eVwAAk_1N.jpg_large.jpeg.jpg
.emacs.d/thumbs/25742c5a36aa1fa1-UserspankajdohareyDownloadsDMA-dKsVwAAejzn.jpg_large.jpeg.jpg
.emacs.d/thumbs/27431e9cbdd7b519-UserspankajdohareyDownloads601153.jpg.jpg
.emacs.d/thumbs/2763b77fc58c0c7b-UserspankajdohareyDownloadsClojure_logo_small.png.jpg
.emacs.d/thumbs/2cd8e8bc09c85774-UserspankajdohareyDownloadsDNO5gYNVQAAdX0F.jpg.jpg
.emacs.d/thumbs/31e7cfaa30a3956-UserspankajdohareyDownloads15141652.jpg.jpg
.emacs.d/thumbs/39affc535c1a690e-UserspankajdohareyDownloads2048px-ISS-24_Shannon_Walker_in_front_of_the_robotic_workstation.jpg.jpg
.emacs.d/thumbs/a763b3035d1200-UserspankajdohareyDownloadsClojure_logo.svg.png.jpg
.emacs.d/thumbs/ea705a653a8d770-UserspankajdohareyDownloadsDNHZJVOXUAA731L.jpg.jpg
.emacs.d/tutorial/English.tut
.gambit_history
.gemrc
.haxelib
.clojerl_history
.clojure_history
.clojure_history-13947.tmp
.clojure_history-72909.tmp
.csi_history
.csi_history-44779.tmp
.emacs.d/.recentf~
.emacs.d/.smex-items~
.emacs.d/assets/clojure_logo.png
.emacs.d/customizations/keymap-commons.el
.emacs.d/ido.last~
.bigloo_history
.cask/
.ccl-init.lisp
.ccl_history
.chezscheme_history
