Public/
Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
.CFUserTextEncoding
.DS_Store
.IdentityService/
.ServiceHub/
.Xauthority
.android/
.atom/
.aws/
.b42/
.bash_sessions/
.bb_history
.bigloo_history
.boot/
.bundle/
.c9/
.cache/
.cargo/
.cask/
.ccl-init.lisp
.chezscheme_history
.cljs/
.cljs_nashorn_repl/
.cljs_node_repl/
.clojerl_history
.clojure/
.clojure_history
.cmake/
.cocoapods/
.collage/
.config/
.cpan/
.csi_history
.cups/
.dbshell
.dotnet/
.dyalog/
.electron/
.elm/
.expo/
.folderify/
.gambit_history
.gem/
.gemrc
.gervill/
.ghc/
.git.scmbrc
.gitconfig
.gitlibs/
.gnupg/
.guard_history
.haxelib
.hxcpp_config.xml
.ido.last
.ipfs/
.irb_history
.jets/
.lein/
.lein_history
.lesshst
.lldb/
.local/
.lumo_history
.luna/
.luna_manager/
.m2/
.mirb_history
.mongorc.js
.mono/
.mpd/
.mu/
.native-image/
.ncmpcpp/
.nectar/
.netrc
.noah/
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nuget/
.op-tmp/
.opam/
.openjfx/
.oracle_jre_usage/
.parsec/
.planck_history
.profile
.psql_history
.purple/
.pyenv/
.python_history
.qutebrowser/
.rails_history
.rbenv/
.react-native-cli/
.rebel_readline_history
.rnd
.rustup/
.saves/
.slime/
.ssh/
.subversion/
.temo/
.templateengine/
.vim/
.viminfo
.vpython-root/
.vpython_cipd_cache/
.vscode/
.weechat/
.wget-hsts
.yarn/
.emacs.d/packages/
.bash_history
.emacs.d.recentf
.emacs.d/bookmarks
.emacs.d/emms/history
.scm_breeze/
.yarnrc
.emacs.d/SessionDesktop.el